$clr-primary: #18ffff;
$clr-primary-light: #adffff;
$clr-primary-dark: #091034;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-bg: #000000;

/*   border radius */
$radius: 0.5rem;

.form {


  &__input {
 
    border: 2px solid grey;
    border-radius: $radius;
    font-family: inherit;
    font-size: inherit;
    color: rgb(0, 0, 0);
    outline: none;
    padding: 1.25rem;
    background: none;

    &:hover {
      border-color: $clr-primary-light;
    }

    /* Change border when input focus*/

    &:focus {
      border-color: $clr-primary;
    }
  }
}
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

.black{
  color: black!important;
}
.formContact{
  display:flex;
width: 100%;
    height:20%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.g-recaptcha{
  width: 50px;
  height: 50px;
}
/*
.Mui-focused{
  color: black!important;
}
*/
.red{
  border: 2px solid red;
}
.pad80{
  margin-bottom: 80px;
}
.topAlert{
  top: 0% !important;
 
  left: 0% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
  padding: 15px;
}
.captchaGoogle{
  display: flex;
}

.slide-in-left{-webkit-animation:slide-in-left 2.5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-left 2.5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

.divForm{
  width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.pointer{ 
  cursor: pointer;
}