$time: 2;
.wrap{
    width:350px;
    margin-left:13%;
    transform-origin:60% 0;
    transform: rotate(-45deg);
}
.wrap > span{
    float: left;
    width: 19%;
    padding-bottom: 19%;
    margin: 1.5%;
    background: white;
    border: 1px solid black;
}
.wrap > span:hover{
   // background:black;
    
    background-size: 70px;
    background-repeat: no-repeat;
}

.wrap > span:hover:nth-child(1){
    // background:black;
    background-image: url("../DiamondSkill/github.svg");
    animation: rotate-scale-up 2s linear both;
    background-size: 70px;
 }
 .wrap > span:hover:nth-child(2){
    // background:black;
    background-image: url("../DiamondSkill/react.svg");
    animation: rotate-vert-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    background-size: 70px;
}
.wrap > span:hover:nth-child(3){
    // background:black;
    background-image: url("../DiamondSkill/typescript.svg");
    animation: rotate-vert-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    background-size: 70px;
}

.wrap > span:hover:nth-child(4){
    // background:black;
    background-image: url("../DiamondSkill/ionic.svg");
    animation: rotate-vert-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    background-size: 70px;
}
.wrap > span:hover:nth-child(5){
    // background:black;
    background-image: url("../DiamondSkill/node.svg");
    animation: rotate-vert-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    background-size: 70px;
}
.wrap > span:hover:nth-child(6){
    // background:black;
    background-image: url("../DiamondSkill/sass.svg");
    animation: rotate-scale-up 2s linear both;
    background-size: 70px;
}

.wrap > span:hover:nth-child(7){
    // background:black;
    background-image: url("../DiamondSkill/javascript.svg");
    animation: rotate-vert-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    background-size: 70px;
}
.wrap > span:hover:nth-child(8){
    // background:black;
    background-image: url("../DiamondSkill/html.svg");
    animation: rotate-vert-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    background-size: 70px;
}
 
.wrap > span:nth-child(3){
    clear:left;
    margin-left: 2.5%;
}
.wrap > span:nth-child(6){
    clear:left;
  
}
.wrap > span:nth-child(9){
    clear:left;
  
}
/*
.wrap > span:nth-child(4){
    clear:left;
    margin-left:20.5%;
}
.wrap > span:nth-child(7){
    clear:left;
    margin-left:60.5%;
}
*/
.rotate-scale-up {
	-webkit-animation: rotate-scale-up $time linear both;
	        animation: rotate-scale-up $time linear both;
}
.rotate-vert-center {
	-webkit-animation: rotate-vert-center $time cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-vert-center $time cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


 @-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  
 @-webkit-keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @keyframes rotate-vert-center {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  


/* Skills section */
.skills-section {
  width: 100%; 
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  transform: translateY(50%);
}

h1.text-skills {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 30rem;
  filter: opacity(0.2);
  text-align: center;
}

.skills-section img {
  width: 65%;
  margin: 0 auto;
  background: transparent;
  animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
  -webkit-animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
  -o-animation: rotate 18s ease-in-out 1s infinite alternate-reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
/* End of Skills Section */

/* Mobile devices Styling */
@media screen and (max-width: 1300px) {
  .skills-section {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1024px) {
   h1.text-skills {
    font-size: 16rem;
    opacity: 0.9;
  }
} 

@media screen and (max-width: 768px){ 
   h1.text-skills {
    font-size: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .skills-section img {
    width: 60%;
  }
  
   h1.text-skills {
    font-size: 8rem;
  }
}

@media screen and (max-width: 360px) {
   h1.text-skills {
    font-size: 5rem;
  }
}
