@font-face {
    font-family: "Conso";
  src: local("Conso"), url(../../../public/assets/fonts/Consolas.ttf) format("ttf");
  }
.white{
    color: white;
}
.entertainement{
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
    font-family: system-ui;
    letter-spacing: 1px;
    word-spacing: 2px;

}
.KingHat{
    transform: rotate(350deg);
}

/******************************************************/

@media only screen and (max-width: 730px) {
	.KingHat{
		margin-bottom: -30px;
	  }
  }

@media only screen and (max-width: 670px) {
	.KingHat{
		margin-bottom: -32px;
	  }
  }
  @media only screen and (max-width: 650px) {
	.KingHat{
		margin-bottom: -35px;
	  }
  }
  @media only screen and (max-width: 615px) {
	.KingHat{
		margin-bottom: -37px;
	  }
  }
  @media only screen and (max-width: 600px) {
	.KingHat{
		margin-bottom: -40px;
	  }
  }
  @media only screen and (max-width: 580px) {
	.KingHat{
		margin-bottom: -43px;
	  }
  }
  @media only screen and (max-width: 540px) {
	.KingHat{
		margin-bottom: -47px;
	  }
  }
  @media only screen and (max-width: 490px) {
	.KingHat{
		margin-bottom: -50px;
	  }
  }
  @media only screen and (max-width: 470px) {
	.KingHat{
		margin-bottom: -53px;
	  }
  }

  @media only screen and (max-width: 430px) {
	.KingHat{
		margin-bottom: -56px;
	  }
  }
  @media only screen and (max-width: 400px) {
	.KingHat{
		margin-bottom: -59px;
	  }
  }
  @media only screen and (max-width: 370px) {
	.KingHat{
		margin-bottom: -62px;
	  }
  }